.cover {
    background-color: #BD0304;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.cover img {
    width: 90%;
}

.cover-text {
    position: absolute;
    top: 5em;
    color: var(--old-color-styles-white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
}

.project-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    background: white;
    padding: 1em 1em;
    color: #BD0304;
    border-radius: 8px;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);
}

.project-input {
    width: 70%;
    font-size: 1em;
}

.project-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.view-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    border-radius: 8px;
    border: 1px solid var(--Changes---Main, #BD0304);
    background: var(--old-color-styles-primary-light, #F6FBFA);
    color: var(--old-color-styles-white, #BD0304);
    height: 4em;
}

.view-text {
    color: var(--old-color-styles-white, #BD0304);
    font-family: Poppins;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 1em;
}

.projects-head {
    color: var(--old-color-styles-primary-text, #121E31);
    font-family: Poppins;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.will-hide {
    display: flex;
    flex-direction: row;
    margin: 0 0;
    padding: 0 0;
    gap: 3em;
}

.project-nav {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
    width: 80vw;
}

.projects-cats {
    font-size: .7em;
    margin-top: 2%;
    border-radius: 3px;
    background: var(--old-color-styles-primary-light, #F6FBFA);
    color: #BD0304;
    width: 30%;
    font-weight: bolder;
    border: none;
}

.projects-cats:hover {
    color: white;
    background: #BD0304;
    box-shadow: 5px 5px 10px 0px rgba(186, 179, 178, 0.5);
    border: 1.5px solid var(--primary-700, #BD0304);
    cursor: pointer;
}

.all-project {
    padding: 0 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

.button-load {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.load-more {
    border-radius: 8px;
    background: var(--Changes---Main, #BD0304);
    color: white;
    padding: 1em 2em;
    font-weight: bolder;
    border: none;
    width: fit-content;
    position: relative;
}

.load-more:hover {
    color: #BD0304;
    background-color: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(186, 179, 178, 0.5);
    border: 1.5px solid var(--primary-700, #BD0304);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .cover {
        font-size: 10px;
    }

    .will-hide {
        display: none;
    }

    .cover-text {
        color: white;
        position: absolute;
        top: 15%;
        text-wrap: wrap;
        width: 80%;
        font-size: 1.5em;
    }

    .project-search {
        position: absolute;
        top: 22%;
    }

    .project-nav {
        display: none;
        margin: 0 0;
    }

    .projects-cats {
        display: none;
        margin: 0 0;
    }

    .all-project {
        display: none;
    }

    .project-contents {
        margin-top: 10%;
    }

    .load-more {
        width: max-content;
        height: 3em;
        margin: 2% auto 0 auto;
    }
}