.project {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    border-radius: .8em;
    border: 2px solid var(--neutral-200, #EEE);
    background: var(--black-white-white, #FFF);
    width: 15em;
    height: fit-content;
    flex-shrink: 0;
}

.contents {
    margin: 1em 1em;
}

.title {
    color: var(--text-color-primary, #121E31);
    font-family: Poppins;
    font-size: .8em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.03px;
}

.qty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.qty .total {
    margin-left: 1em;
    color: var(--text-color-primary, #121E31);
    font-family: Poppins;
    font-size: .8em;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.08px;
}

.project-buttons {
    margin-top: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .7em;
}

.cart-button {
    border: none;
    display: flex;
    width: 4.5em;
    padding: .66em .8em;
    justify-content: center;
    align-items: center;
    gap: 1.06em;
    border-radius: .5em;
    background: var(--primary-700, #BD0304);
    height: 2.3em;
}

.fund-button {
    border: none;
    display: flex;
    padding: .5em 1em;
    justify-content: center;
    align-items: center;
    gap: 1.06em;
    flex: 1 0 0;
    border-radius: .5em;
    background: var(--secondary-700, #1B8271);
    height: 2.3em;
}

.fund-text {
    color: var(--black-white-white, #FFF);
    font-family: Poppins;
    font-size: .8em;
    font-style: normal;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .project {
        font-size: 8px;
    }

    .fund-button {
        padding: 0 .5em;
        flex-wrap: wrap;
    }

    .fund-text {
        font-size: .4em;
    }

    .cart-button {
        width: 3.55em;
    }
}