.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: auto 0;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
}

.card2 {
    margin-top: 0%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card3 {
    margin: 5% 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card4 {
    position: absolute;
    margin: 30% auto;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.logo2 {
    padding: 18px 50px;
}

.para {
    margin-top: 40%;
}

.suc {
    pointer-events: none
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100vw;
        padding: 0 2em;
        left: 0;
        margin: -1.5em 0;
        height: 10vh;
    }
}