@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 98.5vw;
}

.head-all {
    background-color: white;
    color: black;
}

.head-all2 {
    background-color: #BD0304;
    color: white;
}

.upper-head {
    margin: 1em 4em 2em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper-head2 {
    margin: 1em 4em 2em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #BD0304;
}

.lower-head {
    background-color: white;
}

.lower-head2 {
    background-color: #BD0304;
}

.navs li a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.navs2 li a {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.full-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 6em;
    height: 6em;
}

.logo-text {
    color: var(--black-white-black, #000);
}

.logo-text2 {
    color: white;
}


.bosses {
    font-family: Poppins;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.smes {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_links {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
}

.nav_links li a:hover {
    color: #e10000
}

.Header {
    display: flex;
    justify-content: space-between;

}

.Header-Text {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.09px;
}

.dropdown {
    display: flex;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
    position: absolute;
    border-radius: 6px;
    padding: .5em 0;
    border: .01px solid rgb(239, 232, 232);
}

.dropdown li {
    background: white;
}

.dropdown li:hover {
    background: var(--background-background, #e8e4e4);
}

.dropdown li:last-child {
    border-right: none;
}

.nav_links li:hover .dropdown {
    display: flex;
}

li.account Button:hover {
    background: rgb(245, 240, 241);
    box-shadow: 5px 5px 10px 0px rgba(186, 179, 178, 0.5);
    border: 1.5px solid var(--primary-700, #BD0304);
    cursor: pointer;
}

li.account2 Button:hover {
    background: #BD0304;
    box-shadow: 5px 5px 10px 0px rgba(186, 179, 178, 0.5);
    border: 1.5px solid var(--primary-700, white);
    cursor: pointer;
}


.person-icon {
    width: 2em;
    height: 2em;
}

.my-account {
    margin-left: .4em;
    color: var(--primary-700, var(--Changes---Main, #BD0304));
    text-align: center;
    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.027px;
}

.contact {
    width: max-content;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    align-items: center
}

.contacts {
    color: #BD0304;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.contacts2 {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.menu {
    display: none;
}

@media only screen and (max-width: 768px) {

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: none;
        margin: none;
        color: #BD0304;
        width: 15vw;
        height: 4vh;
    }

    .head-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .upper-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .upper-head2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .lower-head {
        width: 100vw;
    }

    .top-header {
        display: none;
    }

    .contact {
        display: none;
    }

    .nav_links {
        display: none;
    }
}