.main-detail {
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 15px;
    margin: auto 10%;
    gap: 3em;
    border-radius: 2em;
    background: var(--old-color-styles-white, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.detail-left {
    margin: 1em 1em;
}

.main-vid {
    margin: .5em .5em;
    border-radius: 10px;
    background: #C4C4C4;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-vids {
    display: flex;
    flex-direction: row;
}

.other-vid {
    margin: .5em .5em;
    border-radius: 8px;
    background: #C4C4C4;
    height: 5em;
    width: 5em;
}

.detail-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em .5em;
    gap: 1em;
}

.detail-title {
    font-size: 1.5em;
    font-family: sans-serif;
}

.project-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    border-radius: 8px;
    padding: 1em 1em;
    border: 1px solid var(--Old-Color-Styles-Tertiary-Text, #D7D7D7);
    background: var(--Old-Color-Styles-Light, #EEE);
    font-size: 0.8em;
}