.contact-text {
    color: var(--old-color-styles-white, #FFF);
    font-family: Poppins;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 600;
}

.icon-style {
    width: 2.5em;
    height: 2.5em;
    color: #BD0304;
    border-radius: 50%;
    background-color: #F6FBFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.maps {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    left: 10%;
    background: #C4C4C4;
    height: 70vh;
    width: 80%;
    margin-bottom: 15%;
}

.contact-form {
    transform: translate(30%, 20%);
    border-radius: 1em;
    padding: 5% 5%;
    width: 50%;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 20px 25px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.button-send2 {
    margin: 0 0 0 3.5em;
    padding: .7em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 10em;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Changes---Main, #BD0304);
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    border: none;
}

.button-send2:hover {
    background: maroon;
    box-shadow: 0px 30px 60px 0px rgba(255, 116, 104, 0.5);
    transform: scale(1.02);
    cursor: pointer;
}

.contacts-data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 5%;
}

.shown-contact {
    display: flex;
    flex-direction: row;
    gap: 1em
}

.hidden-contact {
    display: none;
}

@media only screen and (max-width: 768px) {
    .contact-us-header {
        font-size: 8px;
    }

    .contacts-data {
        font-size: 8px;
    }

    .shown-contact {
        display: none;
    }

    .hidden-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 8px;
    }

    .maps {
        height: 55vh;
    }

    .contact-form {
        width: 100%;
        transform: translate(5%, 5%);
    }

    .button-send2 {
        margin: 2em;
    }

}